%vertical-align {
  &.vertical-align-top {
    vertical-align: top;
  }

  &.vertical-align-baseline {
    vertical-align: baseline;
  }

  &.vertical-align-bottom {
    vertical-align: bottom;
  }
}
